<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        test1();
        function test1(){
            alert("Hello, World!1");
            var name = prompt("Your name is:", "");
            document.write("<h1>"+name+"</h1>")
        }
    </script>
</head>
<body>
    <script>
    function test2(){
            alert("Hello, World!2")
        }
    </script>
</body>
    <script>
        {#function test3(){#}
            alert("Hello, World!3");
        {#}#}
    </script>

</html>