{% extends 'base.html' %}

{% block title_block %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>轮轴受力报告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static  'Chartjs/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

{% endblock %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<form action="/refresh" method="post">
    {% csrf_token %}
    开始日期：<input id='currDatetime' type="datetime-local" name="beginDateTime" >
    时长：    <input id='duration' type="text" name="duration" >秒
    <input type="submit" value="提交">
</form>


<canvas id="axlepress" ></canvas>


<script>
    $(document).ready(function(){
        $('input[type=datetime-local]').val(  '{{ beginTime }}' );
        $('input[type=text]').val( {{ interval }});
        console.log({{ xdata }})
    });
</script>


<script>
    (function () {
        'use strict';
        var type = 'line';
        var data = {
            labels: {{ xdata }}, //[2013, 2014, 2015, 2016, 2017],
            datasets: [
                {
                    label: '第一组',
                    data: [100, 200, 300, 800, 1000],
                    borderDash:[5,10] ,
                    borderColor: 'red',
                    borderWidth: 2,
                    type: 'line',
                    fill: false,
                    backgroundColor: 'rgba(50,0,0,0.5)',  //['red','blue','green','skyblue','orange'],    //red, orange, yellow, green, steelblue, skyblue,rgba(red,blue,green,transparent)
                    lineTension: 0,         //0：折线，默认为曲线
                    pointStyle: 'rect',     //circle, cross, crossRot, dash, rect, rectRounded, rectRot, star, triangle
                    pointRadius: 2
                },
                {
                    label: '第二组',
                    data: [80, 90, 100, 300, 200],
                    borderColor: 'blue',
                    borderWidth: 2,
                    type: 'line',
                    fill: true,
                    backgroundColor: 'rgba(0,60,0,0.2)'  //['red','blue','green','skyblue','orange'],
                }
            ]
        };
        var options = {
            title: {
                display: true,
                text: '轴受力报告',
                fontColor: 'black',
                fontSize: '24',
                position: 'top'             {# top, left, bottom, right #}
            },
            scales: {
                //xAxes: [{}],

                yAxes: [{
                    //stacked: true,
                    ticks: {
                        {#min:0,#}
                        {#max:1500,#}
                        suggestedMin: 0,
                        suggestedMax: 1500,
                        stepSize: 200, {# 属性名区分大小写 #}
                        callback: function (value, index, values) {
                            return value + 'Pa';
                        }
                    }
                }
                ]
            },
            legend: {
                position: 'top', {# top, left, bottom, right #}
                display: true
            },
            animation: {
                duration: 1000, {# millisecond #}
                easing: 'easeOutQuart'      //easeOutQuart, easeInBounce, ...
            },
            // cutoutPercentage: 80  //对pie或doughnut有效
        };
        var ctx = document.getElementById('axlepress').getContext('2d');
        var chart = new Chart(ctx, {
            type: type,
            data: data,
            options: options
        });
    })();
</script>

</body>
</html>